.mc-moon {
  width: 22px;
  height: 22px;
  border: 1px solid #333;
  position: relative;
  display: inline-block;
  border-radius: 22px;
  background: #333;
  overflow: hidden;
}
.mc-moon1 span,
.mc-moon2 span,
.mc-moon3 span,
.mc-moon4 span,
.mc-moon5 span,
.mc-moon6 span { content: ' '; background: lightgray;
  position: absolute; top: 0; left: 0; right: 0; bottom: 0 }
.mc-moon1 span { right: 75% }
.mc-moon2 span { right: 50% }
.mc-moon3 span { right: 25% }
.mc-moon4 span { left: 25% }
.mc-moon5 span { left: 50% }
.mc-moon6 span { left: 75% }
.mc-fullmoon { background: lightgray }

.mc-hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 4px 0 2px;
}
.mc-day {
  text-align: center;
  width: 42px;
  display: inline-block;
  padding-top: 0;
  border: 1px solid white;
}
.mc-date {
  font-size: .9em;
}
.mc-header {
  margin-right: 10px;
  font-size: 1em !important;
  text-align: left;
  display: inline-block;
  padding-top: 6px;
  float: left;
  color: #999;
}
.mc-header span {
  font-size: 1.8em;
  font-weight: normal;
  color: #333;
}
.mc-luminosity {
  font-size: .8em;
  color: #777;
}
.mc-header-day {
  color: #777;
  /* font-size: 1.2em !important; */
}
.mc-today {
  border-radius: 3px;
  background: #777;
}
.mc-today,
.mc-today .mc-luminosity {
  color: white !important;
}
@media print {
  body {
    width: 1500px;
  }
  .mc-today {
    background: transparent;
  }
  .mc-today {
    color: inherit !important;
  }
  .mc-today .mc-luminosity {
    color: #777 !important;
  }
}
